TZ=Europe/Rome

OBSIDIAN_COUCHDB_TAG=3.5.2
OBSIDIAN_COUCHDB_PORT=5984
OBSIDIAN_COUCHDB_USER=CHANGE_ME
OBSIDIAN_COUCHDB_PASSWORD=CHANGE_ME_GENERATE_LONG_RANDOM
OBSIDIAN_COUCHDB_SECRET=CHANGE_ME_GENERATE_LONG_RANDOM
