DOMAIN=yourdomain.duckdns.org
TZ=Europe/Rome

VAULTWARDEN_PORT=8082
VAULTWARDEN_DOMAIN=https://pwd.yourdomain.duckdns.org
VAULTWARDEN_ADMIN_TOKEN=CHANGE_ME_USE_STRONG_VALUE_OR_ARGON2_HASH

SYNCTHING_UI_PORT=8384
SYNCTHING_TCP_PORT=22000
SYNCTHING_DISCOVERY_PORT=21027

IMMICH_VERSION=release
IMMICH_PORT=2283
IMMICH_UPLOAD_LOCATION=./data/immich/upload
IMMICH_DB_DATA_LOCATION=./data/immich/postgres
IMMICH_DB_PASSWORD=CHANGE_ME_GENERATE_WITH_OPENSSL_RAND_BASE64_36
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich

NEXTCLOUD_AIO_PORT=8086
NEXTCLOUD_APACHE_PORT=11000
NEXTCLOUD_DATADIR=/opt/sovereign/data/nextcloud
