HOMEPAGE_TAG=latest
HOMEPAGE_PORT=3002
HOMEPAGE_ALLOWED_HOSTS=dash.internal,localhost

UPTIME_KUMA_TAG=1
UPTIME_KUMA_PORT=3001
BESZEL_TAG=latest
BESZEL_AGENT_TAG=latest
BESZEL_PORT=8090
BESZEL_AGENT_KEY=CHANGE_ME_CREATE_FROM_BESZEL_UI
BESZEL_AGENT_TOKEN=CHANGE_ME_CREATE_FROM_BESZEL_UI
DOZZLE_TAG=latest
DOZZLE_PORT=8088
