HOMEPAGE_TAG=v1.13.1
HOMEPAGE_PORT=3002
HOMEPAGE_ALLOWED_HOSTS=dash.internal,localhost

UPTIME_KUMA_TAG=2.4.0
UPTIME_KUMA_PORT=3001
UPTIME_KUMA_INTERNAL_CA_HOST_PATH=/var/lib/docker/volumes/internal-ca_step_ca_data/_data/certs/root_ca.crt
UPTIME_KUMA_NODE_EXTRA_CA_CERTS=/app/data/ca/sovereign-root-ca.crt
BESZEL_TAG=0.18.7
BESZEL_AGENT_TAG=0.18.7
BESZEL_PORT=8090
BESZEL_AGENT_KEY=CHANGE_ME_CREATE_FROM_BESZEL_UI
BESZEL_AGENT_TOKEN=CHANGE_ME_CREATE_FROM_BESZEL_UI
BESZEL_AGENT_HUB_URL=http://127.0.0.1:8090
BESZEL_AGENT_SYSTEM_NAME=platform-services
BESZEL_AGENT_LISTEN=45876
DOZZLE_TAG=v10.6.6
DOZZLE_PORT=8088
