HOMEPAGE_TAG=v1.13.1
HOMEPAGE_PORT=3002
HOMEPAGE_ALLOWED_HOSTS=dash.internal,localhost

UPTIME_KUMA_TAG=2.4.0
UPTIME_KUMA_PORT=3001
BESZEL_TAG=0.18.7
BESZEL_AGENT_TAG=0.18.7
BESZEL_PORT=8090
BESZEL_AGENT_KEY=CHANGE_ME_CREATE_FROM_BESZEL_UI
BESZEL_AGENT_TOKEN=CHANGE_ME_CREATE_FROM_BESZEL_UI
DOZZLE_TAG=v10.6.6
DOZZLE_PORT=8088
