TZ=Europe/Rome

PAPERLESS_TAG=latest
PAPERLESS_PORT=8010
PAPERLESS_SECRET_KEY=CHANGE_ME_GENERATE_LONG_RANDOM
PAPERLESS_URL=https://paper.internal
PAPERLESS_DB=paperless
PAPERLESS_DB_USER=paperless
PAPERLESS_DB_PASSWORD=CHANGE_ME

# Database config
POSTGRES_USER=paperless
POSTGRES_DB=paperless
