TZ=Europe/Rome

OLLAMA_TAG=0.30.10
OPEN_WEBUI_TAG=v0.9.6
OLLAMA_PORT=11434
OPEN_WEBUI_PORT=3004

# Ollama Settings
OLLAMA_KEEP_ALIVE=5m
OLLAMA_HOST=0.0.0.0
OLLAMA_FLASH_ATTENTION=1
OLLAMA_MAX_VRAM=0

# Open WebUI Settings
WEBUI_SECRET_KEY=replace_this_with_a_long_random_string
WEBUI_AUTH=True
