HEADSCALE_TAG=v0.28.0
HEADSCALE_HTTP_PORT=8080
HEADSCALE_METRICS_PORT=9090

HEADPLANE_TAG=0.7.0
HEADPLANE_PORT=3000

ADGUARD_TAG=v0.107.77

NPM_TAG=2.15.1
NPM_HTTP_PORT=80
NPM_HTTPS_PORT=443
NPM_ADMIN_PORT=81
